<!DOCTYPE html>
<html lang="en" dir="ltr" id="main_html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
        <title id="title">Login</title>
        
        
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- Material Symbols - Outlined Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- Material Symbols - Rounded Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
        <!-- Material Symbols - Sharp Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
        <link id="dark-mode" rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}" disabled/>


        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>

    </head>
    <body>
        <div class="uk-container">
            <div class="uk-section">
                <div class="uk-flex-center" uk-grid>
                    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-flex-center">
                        <img class="uk-align-center" src="{{ url_for('static', filename='pictures/logo.jpg') }}" style="width: 200px; border-radius: 50%;">
                        <ul uk-tab>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Sign Up</a></li>
                        </ul>
                        
                        <div class="uk-switcher">
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="login_username">Username</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="login_username" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="login_password">Password</label>
                                        <div class="uk-form-controls">
                                            <input onkeydown="passwordEnter(event)" class="uk-input" id="login_password" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <button onclick="loginUser()" class="uk-button uk-button-default uk-align-right">Login</button>
                                </div>
                            </div>
                            <div class="uk-grid-small" uk-grid>
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="signup_username">Username</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="signup_username" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="signup_email">Email</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="signup_email" type="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="signup_password">Password</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="signup_password" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="signup_password_confirm">Confirm Password</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" id="signup_password_confirm" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-1-1">
                                    <button onclick="signupUser()" class="uk-button uk-button-default uk-align-right">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='handlers/loginHandler.js') }}"></script>
</html>