foodpantryserver.zip
sites
static/css/uikit-rtl.css
static/css/uikit-rtl.min.css
static/css/uikit.css
static/css/uikit.min.css
__pycache__/api_admin.cpython-312.pyc
__pycache__/api_admin.cpython-313.pyc
__pycache__/api.cpython-312.pyc
__pycache__/api.cpython-313.pyc
__pycache__/config.cpython-312.pyc
__pycache__/config.cpython-313.pyc
__pycache__/database_admin.cpython-312.pyc
__pycache__/database_admin.cpython-313.pyc
__pycache__/database.cpython-312.pyc
__pycache__/database.cpython-313.pyc
__pycache__/external_API.cpython-312.pyc
__pycache__/external_API.cpython-313.pyc
__pycache__/group_api.cpython-312.pyc
__pycache__/group_api.cpython-313.pyc
__pycache__/main.cpython-312.pyc
__pycache__/main.cpython-313.pyc
__pycache__/manage.cpython-312.pyc
__pycache__/manage.cpython-313.pyc
__pycache__/MyDataclasses.cpython-312.pyc
__pycache__/MyDataclasses.cpython-313.pyc
__pycache__/postsqldb.cpython-312.pyc
__pycache__/postsqldb.cpython-313.pyc
__pycache__/process.cpython-312.pyc
__pycache__/process.cpython-313.pyc
__pycache__/receipts_API.cpython-312.pyc
__pycache__/receipts_API.cpython-313.pyc
__pycache__/shopping_list_API.cpython-312.pyc
__pycache__/shopping_list_API.cpython-313.pyc
__pycache__/user_api.cpython-312.pyc
__pycache__/user_api.cpython-313.pyc
__pycache__/webpush.cpython-312.pyc
__pycache__/webpush.cpython-313.pyc
__pycache__/workshop_api.cpython-312.pyc
__pycache__/workshop_api.cpython-313.pyc
application/recipes/__pycache__/__init__.cpython-312.pyc
application/recipes/__pycache__/__init__.cpython-313.pyc
application/recipes/__pycache__/database_recipes.cpython-312.pyc
application/recipes/__pycache__/database_recipes.cpython-313.pyc
application/recipes/__pycache__/recipes_api.cpython-312.pyc
application/recipes/__pycache__/recipes_api.cpython-313.pyc
application/__pycache__/__init__.cpython-312.pyc
application/__pycache__/__init__.cpython-313.pyc
application/__pycache__/postsqldb.cpython-312.pyc
application/__pycache__/postsqldb.cpython-313.pyc
application/items/__pycache__/__init__.cpython-312.pyc
application/items/__pycache__/__init__.cpython-313.pyc
application/items/__pycache__/database_items.cpython-312.pyc
application/items/__pycache__/database_items.cpython-313.pyc
application/items/__pycache__/items_API.cpython-312.pyc
application/items/__pycache__/items_API.cpython-313.pyc
application/items/__pycache__/items_processes.cpython-312.pyc
application/items/__pycache__/items_processes.cpython-313.pyc
