<!DOCTYPE html>
<html lang="en" dir="ltr" id="main_html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
        <title id="title">Recipes</title>
        
        
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- Material Symbols - Outlined Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- Material Symbols - Rounded Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
        <!-- Material Symbols - Sharp Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pantry.css') }}"/>
        {% if session['user']['flags']['darkmode'] %}
        <link id="dark-mode" rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}"/>
        {% endif %}

        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
    </head>
    <style>
        #recipeImage{
            width:200px;
            height:200px;
            border-radius: 50%;
        }

    </style>
    <style>
    :root {
        --primary-color: {{ session['user']['flags']['styles']['primary_color']}};
    }
    </style>
    {% if session['user']['flags']['darkmode'] %}
    <body class="uk-light">
    {% else %}
    <body>
    {% endif %}
        <nav class="uk-navbar-container">
            <div class="uk-container uk-container-expand">
                <div class="uk-navbar uk-navbar-primary">
                    <!-- Application Navigation-->
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href>Apps</a>
                                <div class="uk-navbar-dropdown uk-light" uk-drop="mode: click; multi:false">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="/planner">Planner</a></li>
                                        <li><a href="/recipes">Recipes</a></li>
                                        <li><a href="/shopping-lists">Shopping Lists</a></li>
                                        <li class="uk-nav-header">Logistics</li>
                                        <li><a href="/items">Items</a></li>
                                        <li><a href="/items/transaction">Transaction</a></li>
                                        <li><a href="/receipts">Receipts</a></li>
                                        <li class="uk-nav-header">Points of Ease</li>
                                        <li><a href="/poe/scanner">Transaction Scanner</a></li>
                                        <li><a href="/poe/receipts">Receipts Scanner</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- Breadcrumbs Navigation -->
                    <div class="uk-navbar-center uk-visible@m">
                        <ul class="uk-breadcrumb uk-margin-remove">
                            <li class="uk-disabled" style="cursor: pointer;"><span><strong>{{current_site}}</strong></span>
                                <div uk-dropdown="mode: hover">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li class="uk-nav-header">Select Site</li>
                                        <li class="uk-nav-divider"></li>
                                        {% for site in sites %}
                                        {% if site == current_site %}
                                        <li><a class="uk-disabled" href="#">{{site}}</a></li>
                                        {% else %}
                                        <li><a onclick="changeSite('{{site}}')">{{site}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            <li style="cursor: default; user-select: none;" class="uk-disabled"><span>Modules</span></li>
                            <li class="uk-disabled"><span>Recipes</span></li>
                            <li class="uk-disabled"><span>Viewing Recipe</span></li>
                        </ul>
                    </div>
                    <!-- Profile/Management Navigation-->
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#">
                                    <img src="{{session['user']['profile_pic_url']}}" alt="Profile Picture" class="profile-pic uk-visible@m" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 5px;">
                                            {{username}}
                                </a>
                                <div class="uk-navbar-dropdown" uk-drop="mode: click; multi:false">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a onclick="toggleDarkMode()">Dark Mode</a></li>
                                        <li><a href="/site-management">Site Management</a></li>
                                        <li><a href="/administration">System Management</a></li>
                                        <li><a href="/access/logout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="uk-container">
            <div class="uk-section">
                <div uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-grid-small" uk-grid>
                            <div id="imgDiv" class="uk-width-1-1 uk-width-1-4@m uk-hidden uk-flex uk-flex-center">
                                <img style="width: 300px; height: 300px;" id="recipeImage" alt="" src="">
                            </div>
                            <div id="titleDiv" class="uk-width-1-1 uk-flex uk-flex-middle">
                                <div class="uk-width-1-1 uk-flex uk-flex-middle">
                                    <div class="uk-text-center uk-width-1-1">
                                        <h2 id="recipeTitle" class="uk-heading-medium uk-text-bold uk-text-uppercase" style="margin-bottom: 10px;"></h2>
                                        <h6 id="recipeAuthor" class="uk-text-lead" style="margin-top: -10px;"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-text-center">
                        <p id="recipeDescription" class="uk-text-meta"></p>
                    </div>
                    <div class="uk-width-1-2@l">
                        <table class="uk-table uk-table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Ingrediant</th>
                                    <th>Qty/UOM</th>
                                </tr>
                            </thead>
                            <tbody id="ingrediantsTableBody"></tbody>
                        </table>
                    </div>
                    <div id="tileList" class="uk-width-1-2@l uk-child-width-1-1 uk-grid-collapse">
                    </div>
                    <div class="uk-width-1-1">
                        <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #receiptRecipeModal">Receipt Recipe</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Receipt Recipe Modal  -->
        <div id="receiptRecipeModal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Recipe Receipt Transaction</h2>
                <p>You are about to receipt these items from the system, please confirm before completing these Transaction as once they have been completed
                    this cannot be reversed.</p>
                <table class="uk-table uk-table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Qty</th>
                        </tr>
                    </thead>
                    <tbody id="receiptRecipeTableBody">
                    </tbody>
                </table>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                    <button onclick="receiptRecipe()" class="uk-button uk-button-primary" type="button">Complete</button>
                </p>
            </div>
        </div>
    </body>
    <script>
        const session = {{session|tojson}}
        const recipe_id = {{recipe_id|tojson}}
    </script>
    <script src="{{ url_for('recipes_api.static', filename='js/recipeViewHandler.js') }}"></script>
</html>