:root {
    --background: #121212;
    --background-text: #ffffff;
    
    --surface: #181818;
    --surface-text: #ffffff;

    --surface-two: #252525;
    --surface-three: #383838;

    --error: #CF6679;
    --error-text: #000000;
    
    --primary-color: #4e76aa;
    --primary-text: #ffffff;

    --secondary-color: #03DAC6;
    --secondary-text: #000000;

    --elevation-low: 0 1px 3px rgba(0, 0, 0, 0.2);
    --elevation-medium: 0 3px 6px rgba(0, 0, 0, 0.3);
    --elevation-high: 0 10px 20px rgba(0, 0, 0, 0.4);

    --radius: 10px;

  }

body, html {
    background-color: var(--background);
    color: var(--background-text);
    border-color: var(--border-color);
}

select, option {
    background-color: var(--surface);
    color: var(--surface-text);
    box-shadow: var(--elevation-low);
}

.uk-navbar-container, footer {
    background-color: var(--primary-color) !important;
}

.uk-navbar-container > .uk-container > .uk-navbar > div > ul >li > a {
    color: var(--primary-text);
}

.uk-navbar-container > .uk-container > .uk-navbar > div > ul > li > span {
    color: var(--primary-text);
}

.uk-navbar-container > ul.uk-navbar-nav > li {
    color: var(--primary-text);
}

.uk-navbar-dropdown {
    background-color: var(--surface-two) !important;
    box-shadow: var(--elevation-low);
}

.uk-nav-header {
    color:#ffffff !important;
}

.uk-navbar-dropdown-nav > li.uk-active > a {
    color: var(--primary-color) !important;
}

.uk-input.uk-disabled {
    background-color: var(--background-secondary);
}

.uk-input {
    border-color: var(--border-color);
    box-shadow: var(--elevation-low);
}

.uk-button.uk-disabled {
    background-color: var(--background-secondary);
}

.uk-label.uk-disabled {
    background-color: var(--background-secondary);
}

.uk-modal-dialog{
    background-color: var(--surface);
    color: var(--surface-text);
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);;
    z-index: 0;
    border-radius: var(--radius);
}

.uk-modal-body{
    background-color: var(--surface);
    color: var(--surface-text)
}

.uk-modal-header{
    background-color: var(--surface);
    color: var(--surface-text)
}

.uk-modal-footer{
    background-color: var(--surface);
    color: var(--surface-text)
}

.uk-modal-dialog::before {
    content: '';
    position: absolute;
    border-radius: var(--radius);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.09);
    pointer-events: none;
}

.uk-card.uk-card-hover:hover {
    background-color: rgba(255, 255, 255, 0.03);
    box-shadow: var(--elevation-high);
}

.uk-card.uk-card-default {
    background: var(--surface);
    color: var(--surface-text);
    box-shadow: var(--elevation-low);
    border-radius: var(--radius);
}

.uk-card.uk-card-default::before {
    content: '';
    position: absolute;
    border-radius: var(--radius);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.my-card.uk-card-title {
    color: var(--surface-text);
}

.uk-dropdown {
    background-color: var(--surface);
    color: var(--surface-text);
    box-shadow: var(--elevation-low);
}

.uk-dropdown::before {
    content: '';
    position: absolute;
    border-radius: var(--radius);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.uk-offcanvas-bar {
    background-color: var(--surface);
    color: var(--surface-text);
}

.uk-offcanvas-bar::content {
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.16);
    pointer-events: none;
}

.uk-tile.uk-tile-default{
    background-color: var(--surface);
    color: var(--surface-text)
}

.uk-tile.uk-tile-default::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.09);
    pointer-events: none;
}

.instruction-card{
    background: var(--surface); 
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 5px;
    position: relative;
}

.instruction-card::before {
    content: '';
    position: absolute;
    border-radius: var(--radius);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.09);
    pointer-events: none;
}

.instruction-button{
    background: none;
    border: none;
    color: red;
    font-size: 1.2em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.instruction-list{
    list-style-type: none; 
    padding: 0;
}

.uk-label.uk-label-success {
    background-color: rgb(54, 160, 98);
    color: var(--background-text)
}

.uk-label.uk-label-danger {
    background-color: #b6596a;
    color: var(--background-text)
}

.uk-button.uk-button-primary {
    background-color: var(--primary-color);
    color: var(--primary-text);
}

.uk-button.uk-button-danger {
    background-color: var(--error);
    color: var(--error-text);
}



/* Darkmode settings for planner plage */

#calendar_container {
    background-color: var(--surface);
    box-shadow: var(--elevation-high);
    border-radius: var(--radius);
}

#calender_table {
    background-color: var(--surface);
}

#calender_table th{
    background-color: var(--surface);
    font-weight: bold;
}

.calendar-cell-empty {
    background-color: var(--surface);
    border: 1px solid var(--surface-three);
}

.calendar-cell {
    background-color: var(--surface-two);
    border: 1px solid var(--surface-three);
    position: relative;
    width: 150px;
    height: 120px;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
}

.calendar-cell:hover{
    background-color: var(--surface-two);
    border: 2px solid var(--primary-color);
}


.calendar-cell:hover, .calendar-cell-selected{
    background-color: var(--surface-two);
    border: 2px solid var(--primary-color);
}

.date-box {
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
}

.recipes-box {
    position: absolute;
    top: 5px;
    left: 35px;
    right: 5px;
    bottom: 5px;
    padding: 3px;
    overflow: auto;
    z-index: 1;
}

.recipe-label.recipe-success {
    background:rgba(158, 221, 145, 0.479);
    margin-bottom: 3px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.recipe-label.recipe-error {
    background-color: rgba(218, 143, 143, 0.425);
    margin-bottom: 3px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.recipe-label.recipe-success:hover{
    background-color: rgba(158, 221, 145, 0.185);
    cursor: pointer;
}

.recipe-label.recipe-success:hover, .recipe-label-selected {
    background-color:  rgba(158, 221, 145, 0.185);
}

.recipe-label.recipe-error:hover{
    background-color:rgba(218, 143, 143, 0.185);
    cursor: pointer;
}

.recipe-label.recipe-error:hover, .recipe-label-selected {
    background-color:  rgba(218, 143, 143, 0.185);
}

.custom-label {
    background:rgba(211, 211, 211, 0.459);
    margin-bottom: 3px;
    padding: 2px 5px;
    border-radius: 1px;
    font-size: 12px;
    font-weight: bold;
}

.custom-label:hover{
    background-color: rgba(211, 211, 211, 0.185);
    cursor: pointer;
}

.custom-label:hover, .custom-label-selected {
    background-color: rgba(211, 211, 211, 0.185);
}