<div class="row" id="sites">
    <div class="col s12">
        <h1>Your Users</h1>
    </div>
    <div class="col s12">
        <p class="flow-text">This is where all the users who have access to this instance!</p>
    </div>
    <div class="col s12">
        %%userstable%%
    </div>
    <div class="col s12 center-align">
        <span class="center-align"><button data-target="add_site"class="btn btn-flat center-align modal-trigger" style="width: 100%; border-radius: 10px;"><i class="large material-symbols-outlined" style="font-size: 2rem;">add_circle</i></button></span>
    </div>
    <div class="col s12">
        %%pagination%%
    </div>
</div>
