<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
        <title id="title"></title>
        
        
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- Material Symbols - Outlined Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- Material Symbols - Rounded Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
        <!-- Material Symbols - Sharp Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>

        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>

    </head>
    <body>
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container">
                <div class="uk-container uk-container-expand">
                    <div uk-navbar="dropbar: true">
                        <div id="offcanvas-slide" uk-offcanvas="mode: slide; overlay: true">
                            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                                <ul class="uk-nav uk-nav-secondary">  
                                    <img class="uk-align-center uk-border-circle" data-src="{{ url_for('static', filename='pictures/logo.jpg') }}" style="width: 150px; height: auto;" uk-img />
                                    <li class="uk-nav-header">Apps</li>
                                    <li><a href="/shopping-lists">Shopping Lists</a></li>
                                    <li><a href="/recipes">Recipes</a></li>
                                    <li class="uk-nav-header">Logistics</li>
                                    <li><a href="/items">Items</a></li>
                                    <li><a href="/transaction">Add Transaction</a></li>
                                    <li><a href="/workshop">Workshop</a></li>
                                    <li><a href="/receipts"><div class="uk-active">Receipts<div class="uk-nav-subtitle" disabled>You are currently viewing Receipts...</div></div></a></li>
                                    <li class="uk-nav-header">System Management</li>
                                    <li><a><div>{{current_site}}<div class="uk-nav-subtitle">This is the current site you are viewing...</div></div></a>
                                        <div uk-dropdown="mode: click">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% for site in sites %}
                                                {% if site == current_site  %}
                                                <li><a class="uk-disabled" href="#">{{site}}</a></li>
                                                {% else %}
                                                <li><a onclick="changeSite('{{site}}')">{{site}}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                    {% if system_admin %}
                                    <li><a href="/admin">Administration</a></li>
                                    {% endif %}
                                    <li><a href="" class="">{{username}}</a></li>
                                </ul>
                                <button class="uk-button uk-margin-small uk-position-top-right" uk-icon="icon: close" href=""></button>
                            </div>
                        </div>
                        <div class="uk-navbar-left uk-margin-small">
                            <a href="#offcanvas-slide" class="uk-button uk-button-default uk-button-small" uk-icon="icon: menu" uk-toggle>Menu</a>
                        </div>
                        <div class="uk-navbar-center uk-margin-small uk-visible@m">
                            <ul class="uk-breadcrumb">
                                <li style="cursor: default;"><span><strong>{{current_site}}</strong></span>
                                    <div uk-dropdown="mode: hover">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            {% for site in sites %}
                                            {% if site == current_site  %}
                                            <li><a class="uk-disabled" href="#">{{site}}</a></li>
                                            {% else %}
                                            <li><a onclick="changeSite('{{site}}')">{{site}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                <li style="cursor: default; user-select: none;"><span>Logistics</span></li>
                                <li class="uk-disabled"><span>Receipts</span></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-right">
                            <a href="" class="" uk-icon="icon: user" uk-toggle>{{username}}</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="uk-container">
            <div class="uk-section">
                <div uk-grid>
                    <div class="uk-width-1-2@m">
                        <ul class="uk-iconnav uk-flex-center uk-flex-left@m">
                            <li><a href="#" uk-icon="icon: plus">Open Receipt</a></li>
                            <li><a href="#" uk-icon="icon: cloud-download">download</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-2@m">
                        <nav aria-label="Pagination">
                            <ul id="paginationElement" class="uk-pagination uk-flex-center uk-flex-right@m" uk-margin>
                                <!-- populated by javascript updatePaginationElement -->
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="uk-overflow-auto">
                    <table id="receiptsTable" class="uk-table uk-table-striped uk-table-hover">
                    <thead>
                        <tr>
                            <th>Receipt ID</th>
                            <th>Receipt Status</th>
                            <th class="uk-visible@m">Date Submitted</th>
                            <th class="uk-visible@m">Submitted By</th>
                        </tr>
                    </thead>

                    <tbody id="receiptsTableBody"></tbody>
                    </table>
                </div>
                <div class="uk-margin-small-top">
                    <a href="" uk-totop uk-scroll></a>
                </div>
            </div>
        </div>
        <script src="{{ url_for('receipt_api.static', filename='js/receiptsHandler.js') }}"></script>
    </body>
</html>