<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>My Pantry</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>
  </head>
<body>
    <div class="container">
        <form class="row" style="gap: 1em;" action="/signup" method="post" enctype="multipart/form-data">
            <div class="s12 m6 input-field">
                <input id="username" name="username" type="text" class="validate" placeholder=" ">
                <label for="username">Username</label>
                <span class="supporting-text" data-error="wrong" data-success="right">Supporting text for additional information</span>
            </div>
            <div class="s12 m6 input-field">
                <input id="password" type="password" name="password" class="validate" placeholder=" " maxlength="20">
                <label for="password">Password</label>
            </div>
            <button class="btn icon-right waves-effect waves-light" type="submit" name="action">
                Submit<i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</body>