<!DOCTYPE html>
<html lang="en" dir="ltr" id="main_html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
        <title id="title">Recipes</title>
        
        
        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!-- Material Symbols - Outlined Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <!-- Material Symbols - Rounded Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
        <!-- Material Symbols - Sharp Set -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
        <link id="dark-mode" rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}" disabled/>

        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>

    </head>
    <body>
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav id="navbar" class="uk-navbar-container">
                <div class="uk-container uk-container-expand">
                    <div uk-navbar="dropbar: true">
                        <div id="offcanvas-slide" uk-offcanvas="mode: slide; overlay: true">
                            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                                <ul class="uk-nav uk-nav-secondary">  
                                    <img class="uk-align-center uk-border-circle" data-src="{{ url_for('static', filename='pictures/logo.jpg') }}" style="width: 150px; height: auto;" uk-img />
                                    <li class="uk-nav-header">Apps</li>
                                    <li><a href="/shopping-lists">Shopping Lists</a></li>
                                    <li>
                                        <a href="/recipes">
                                            <div class="uk-active">Recipes<div class="uk-nav-subtitle" disabled>You are currently browsing Recipes here...</div></div>
                                        </a>
                                    <li class="uk-nav-header">Logistics</li>
                                    <li><a href="/items">Items</a></li>
                                    <li><a href="/transaction">Add Transaction</a></li>
                                    <li><a href="/receipts">Receipts</a></li>
                                    <li class="uk-nav-header">System Management</li>
                                    {% if system_admin %}
                                    <li><a href="/admin">Administration</a></li>
                                    {% endif %}
                                    <li><a href="" class="">{{username}}</a></li>
                                </ul>
                                <button class="uk-button uk-margin-small uk-position-top-right" uk-icon="icon: close" href=""></button>
                            </div>
                        </div>
                        <div class="uk-navbar-left uk-margin-small">
                            <a href="#offcanvas-slide" class="uk-button uk-button-default uk-button-small" uk-icon="icon: menu" uk-toggle> Menu</a>
                        </div>
                        <div class="uk-navbar-center uk-margin-small uk-visible@m">
                            <ul class="uk-breadcrumb">
                                <li style="cursor: default;"><span><strong>{{current_site}}</strong></span>
                                    <div uk-dropdown="mode: hover">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            {% for site in sites %}
                                            {% if site == current_site  %}
                                            <li><a class="uk-disabled" href="#">{{site}}</a></li>
                                            {% else %}
                                            <li><a onclick="changeSite('{{site}}')">{{site}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                <li style="cursor: default; user-select: none;"><span>Apps</span></li>
                                <li class="uk-disabled"><span>Recipes</span></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-right">
                            <div>
                                <a onclick="toggleDarkMode()" class="uk-button uk-button-small"><span id="modeToggle" class="uk-flex material-symbols-outlined">dark_mode</span></a>
                            </div>
                            <div>
                                <a href="" class="" uk-icon="icon: user" uk-toggle>{{username}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="uk-container">
            <div class="uk-section">
                <div uk-grid>
                    <div class="uk-width-1-1@m">
                        <ul class="uk-iconnav uk-flex-center uk-flex-left@m">
                            <li><a onclick="openAddRecipeModal()" uk-icon="icon: plus">Add Recipe</a></li>
                            <li><a href="#" uk-icon="icon: cloud-download">download</a></li>
                        </ul>
                        <ul class="uk-iconnav uk-flex-center uk-flex-right@m">
                            <li><a id="view_mode_toggle" onclick="setViewMode()" uk-icon="icon: thumbnails">Cards</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-1 uk-flex uk-flex-center uk-padding-small">
                        <nav aria-label="Pagination">
                            <ul id="paginationElement" class="uk-pagination" uk-margin>
                                <li><a href="#"><span uk-pagination-previous></span></a></li>
                                <li><a href="#">1</a></li>
                                <li class="uk-disabled"><span>…</span></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li class="uk-active"><span aria-current="page">7</span></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#"><span uk-pagination-next></span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="uk-width-1-1">
                        <div id="recipes_list" class="uk-child-width-1-1">
                            <!-- populates through javascript -->
                        </div>
                        <a class="uk-margin" href="" uk-totop uk-scroll></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- add prefix modal -->
        <div id="addRecipeModal" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title">Add Recipe...</h2>
                </div>
                <div class="uk-modal-body">
                    <p class="uk-text-meta">Add a Recipe to the system by providing a name for the item and a general description.</p>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="addGroupName">Group Name</label>
                        <input id="addRecipeName" class="uk-input" type="text" placeholder="" aria-label="Input">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="addGroupDescription">Group Description</label>
                        <textarea id="addRecipeDescription" class="uk-textarea"></textarea>
                    </div>
                </div>
                <div class="uk-modal-footer">
                    <button onclick="addRecipe()" class="uk-button uk-button-default uk-align-right" type="button">Add Recipe</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        const session = {{session|tojson}}
    </script>
    <script src="{{ url_for('static', filename='handlers/recipesListHandler.js') }}"></script>
</html>